[submodule "course-record-backend"]
	path = course-record-backend
	url = https://github.com/boba1987/course-record-backend.git
[submodule "course-record-frontend"]
	path = course-record-frontend
	url = https://github.com/boba1987/course-record-frontend.git
